<div class="login-page">
    <mat-card class="login-card">
        <img src="../../assets/images/app-icon.png" alt="App logo image" class="app-image"/>
        <mat-form-field class="login-input">
            <input matInput placeholder="Input" [(ngModel)]="userName">
        </mat-form-field>
        <mat-form-field class="login-input">
            <input matInput placeholder="Enter your password" [(ngModel)]="password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="togglePasswordHideState()">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary" class="login-input" (click)="onLoginButtonClick()">Login</button>
        <span class="buttons-divider">OR</span>
        <button mat-raised-button color="primary" class="login-input">Register</button>
    </mat-card>
</div>